* {
    margin: 0;
    padding: 0;
    user-select: none;
	font-family: Roboto Slab;
    font-weight: 600;
}
@font-face{
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.ttf');
}
main {
    position: relative;
    overflow: hidden;
    width: 1280px;
    margin: 50px auto;
}
/*開場*/
header {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(270deg, #525252, #001F1D);
    background: -moz-linear-gradient(180deg, #525252, #001F1D);
    background: -o-linear-gradient(180deg, #525252, #001F1D);
    background: linear-gradient(180deg, #525252, #001F1D);
    z-index: 1;
}
#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 646.89px;
    animation: start 3s alternate;
    animation-iteration-count: 2;
    opacity: 0;
}
@keyframes start {
    0% {
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/*遊戲進行於playArea區塊*/
#playArea {
    position: relative;
    width: 1175px;
    height: 1100px;
    background: -webkit-linear-gradient(270deg, #525252, #001F1D);
    background: -moz-linear-gradient(180deg, #525252, #001F1D);
    background: -o-linear-gradient(180deg, #525252, #001F1D);
    background: linear-gradient(180deg, #525252, #001F1D);
    float: left;
}
/*遊戲選項*/
aside {
    position: relative;
    width: 105px;
    height: 1100px;
    float: left;
    background: #001F1D;
}
aside .new_game {
    width: 60px;
    height: 82.91px;
    position: absolute;
    left: 23px;
    top: 120px;
    cursor: pointer;
    transition: all 0.5s;
}
aside .restart {
    width: 87.99px;
    height: 69.91px;
    position: absolute;
    left: 9px;
    top: 252px;
    cursor: pointer;
    transition: all 0.5s;
}
aside .undo {
    width: 59px;
    height: 68.91px;
    position: absolute;
    left: 23px;
    top: 371px;
    cursor: pointer;
    opacity: 0.25;
    transition: all 0.5s;
}
/*遊戲資訊(Logo、警告訊息、時間、移動次數)*/
#gameInfo {
    height: 120px;
    font-size: 21px;
	font-weight: 600;
    color: white;
    text-align: right;
    line-height: 50px;
    overflow: hidden;
}
#gameInfo .logo {
    width: 237.73px;
    height: 106.33px;
    position: absolute;
    left: 38.85px;
    top: 0.67px;
}
#warning {
    position: absolute;
    height: 50px;
    width: 600px;
    left: 300px;
    top: 43px;
    text-align: left;
    font-size: 20px;
    color: #ff8080;
}
#time {
    position: absolute;
    width: 180px;
    height: 50px;
    background: url(../images/others/time.png) no-repeat 75px 9px;
    right: 240px;
    top: 40px;
}
#moves {
    position: absolute;
    width: 180px;
    height: 50px;
    right: 60px;
    top: 40px;
}
/*卡片放置區(上方)*/
#cardSpace {
    height: 158px;
    padding-left: 60px;
}
.space, .scoreArea {
    box-sizing: border-box;
    width: 110px;
    height: 158px;
    border: 1px #FFF solid;
    border-radius: 5px;
    float: left;
    margin-right: 25px;
    margin-bottom: 47px;
}
/*左上方自由放置區*/
.space {
    outline: 1px #FFF solid;
    outline-offset: -6px;
}
.space div.card {
    top: 120px;
}
/*右上方得分區*/
.scoreArea {
    line-height: 158px;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.scoreArea div.card {
    top: 120px;
}
/*卡片堆疊區(下方)*/
#cardFolder {
    height: 522px;
    padding-left: 60px;
}
.cardColumn {
    width: 110px;
    min-height: 400px;
    margin-right: 25px;
    float: left;
}
.cardColumn div:nth-child(1){
    top: 325px;
}
.cardColumn div:nth-child(2){
    top: 369px;
}
.cardColumn div:nth-child(3){
    top: 413px;
}
.cardColumn div:nth-child(4){
    top: 457px;
}
.cardColumn div:nth-child(5){
    top: 501px;
}
.cardColumn div:nth-child(6){
    top: 545px;
}
.cardColumn div:nth-child(7){
    top: 589px;
}
.cardColumn div:nth-child(8){
    top: 633px;
}
.cardColumn div:nth-child(9){
    top: 677px;
}
.cardColumn div:nth-child(10){
    top: 721px;
}
.cardColumn div:nth-child(11){
    top: 765px;
}
.cardColumn div:nth-child(12){
    top: 809px;
}
.cardColumn div:nth-child(13){
    top: 853px;
}
/*每一欄(直行)的預設left值*/
#cardSpace > div:nth-child(1) .card,
div.cardColumn:nth-child(1) > .card {
    left: 60px;
}
#cardSpace > div:nth-child(2) .card,
div.cardColumn:nth-child(2) > .card {
    left: 195px;
}
#cardSpace > div:nth-child(3) .card,
div.cardColumn:nth-child(3) > .card {
    left: 330px;
}
#cardSpace > div:nth-child(4) .card,
div.cardColumn:nth-child(4) > .card {
    left: 465px;
}
#cardSpace > div:nth-child(5) .card,
div.cardColumn:nth-child(5) > .card {
    left: 600px;
}
#cardSpace > div:nth-child(6) .card,
div.cardColumn:nth-child(6) > .card {
    left: 735px;
}
#cardSpace > div:nth-child(7) .card,
div.cardColumn:nth-child(7) > .card {
    left: 870px;
}
#cardSpace > div:nth-child(8) .card,
div.cardColumn:nth-child(8) > .card {
    left: 1005px;
}
/*卡牌*/
.card {
    height: 158px;
    width: 110px;
    background-size: contain;
    position: absolute;
    top: 500px;
    left: 0px;
    cursor: pointer;
    user-select: none;
	transition: all 0.4s;
}
.card:hover {
	transform: translateY(-10px);
	
}
/*通關訊息*/
#completeMsg {
	display: none;
	position: absolute;
	width: 400px;
	text-align: center;
	color: white;
	top: 372px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 600;
	overflow: hidden;
}
#completeMsg .header {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 31px;
}
#completeMsg .record {
	font-size: 24px;
	line-height: 50px;
	margin-bottom: 62px;
}
.newGameBtn {
	width: 292.07px;
	height: 50px;
	border-radius: 25px;
	background: #3F869B;
	cursor: pointer;
	font-size: 24px;
	line-height: 50px;
	margin: 0 auto;
}
/*新開一局、重新開始訊息*/
section {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 10000;
    text-align: center;
}
section>div {
    width: 700px;
    height: 400px;
    background: white;
    border-radius: 20px;
    margin: 200px auto;
}
section img {
    width: 134.79px;
    margin: 62.52px auto 0px;
}
.info {
    height: 67px;
    font-size: 24px;
    color: #4B4B4B;
    margin-top: 10.36px;
}
.restartInfo {
    line-height: 35px;
}
.newGameInfo {
    line-height: 67px;
}
section .restartBtn {
    width: 365px;
    height: 50px;
    line-height: 50px;
    background: #3F869B;
    color: white;
    margin: 35px auto 0px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 24px;
}
section .newGameBtn {
    margin: 35px auto 0px;
    color: white;
    /*其他樣式已經在上方定義過*/
}
.backBtn {
    width: 292.07px;
    height: 50px;
    color: #3F869B;
    font-size: 20px;
    line-height: 50px;
    margin: 15px auto;
    cursor: pointer;
    border: 3px white solid;
    border-radius: 100px;
}
.backBtn:hover {
    border: 3px #3F869B solid;
}
